<h3>Coment치rios</h3>
<div id="comments_list">
  <%= render @post.comments %> <!-- Renderiza o partial _comment para cada coment치rio -->
</div>
<%= render 'comments/form' %> <!-- Formul치rio para adicionar um novo coment치rio -->
